<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}">
<meta charset="UTF-8">
<title>MIAGE Concession</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">MIAGE Concession</a>
	</nav>

	<div class="container fondGris">
		<h2 class="centrerTexte col-md-12">Description de la voiture</h2>
		<h3 th:text="${voiture.marque} + ' ' + ${voiture.modele}"></h3>
		<p class="text-center">
			<img class="img-fluid img-thumbnail" th:width="500px" th:src="@{'/img/'+ ${voiture.getPhoto()}}">
		</p>
		<p>
			<span class="soulignage">Description</span> : <span th:text="${voiture.description}"></span>
		</p>
		<p>
			<span class="soulignage">Couleur</span> : <span th:text="${voiture.couleur}"></span>
		</p>
		<p>
			<span class="soulignage">Année de sortie</span> : <span th:text="${voiture.anneeSortie}"></span>
		</p>
		<p>
			<span class="soulignage">Prix</span> : <span th:text="${#numbers.formatDecimal(voiture.prix,0, 'WHITESPACE', 2, 'POINT')} + ' €'"></span>
		</p>
		<p>
			<span class="soulignage">Caractéristiques</span> : 
		<ul>
			<li th:text="${voiture.gps} ? 'GPS : Oui' : 'GPS : Non'"></li>
			<li th:text="${voiture.climatisation} ? 'Climatisation : Oui' : 'Climatisation : Non'"></li>
		</ul>
		</p>

		<a th:href="@{'/vehicules/' + ${voiture.id} + '/acheter'}" th:classappend="${voiture.quantiteRestante} == 0 ? disabled" class="btnAcheter btn btn-primary offset-md-9">Acheter le véhicule</a>
	</div>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>